@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ImperialNormal';
  src: url('/fonts/imperial-normal-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cheltenham700Italic';
  src: url('/fonts/cheltenham-italic-700.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* CSS global */
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 0 16px; /* Adicione preenchimento para evitar que o conteúdo fique colado nas bordas */
}

.layout {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.main {
  flex: 1;
  max-width: 900px;
  margin-right: 20px;
}

.sidebar {
  width: calc(100% - 920px); /* 900px main + 20px gap */
  min-width: 240px;
}

@media (max-width: 1200px) {
  .layout {
    flex-direction: column;
  }
  .main {
    max-width: 100%;
    margin-right: 0;
  }
  .sidebar {
    width: 100%;
    margin-top: 20px;
  }
}

.bLeft {
  border-left-width: 1px;
}

.twoBorderDivider1 {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  display: block;
  height: 1px;
  margin: 0;
}

.twoBorderDivider2 {
  background-color: #fff;
  border: 0px solid #e2e2e2;
  display: block;
  height: 1px;
  margin-top: 1px;
}